@use "../globals.scss" as *;

.authButton {
    outline: none;
    border: none;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.6rem;
}

.signUpButton {
    background: $gradient-blue;
    border: 1px solid rgb(129, 129, 129);
}

.loginButton {
    background: none;
}


.logoutButton {
    background: none;
}