@use "../globals.scss" as *;

.navbar {
    @include flex-space-between;
    padding: 1rem 0.5rem;

    .logo {
        font-size: 1rem;
        font-weight: 600;

        span {
            font-weight: 300;
        }
    }

    .authButtonsSection {
        @include flex-space-between;
        column-gap: 1rem;
    }
}